.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.logo{
    width: 48px;
}
.menu{ 

    display: flex;
    color:black;
      
}
.menu > li{

    list-style: none;
    padding: 5px 18px;
}
.menu > li:hover{
    font-weight: 600;
}
body {
    background-image: url('/Media/media.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.main{
    vertical-align: middle;
    padding: 75px 0px 0px 0px;

}
.wlcm{
    font-size: 72;
}
.atnk{
    font-size:120;
    font-weight:700;
}
.intro
{
    font-size:24;
    font-weight:400;
    padding:0px 8px 24px 2px;
}
.btn1{
    color: white;
    padding: 14px 26px;
    background-color: black;
    
}
.lrnmore{
    padding: 14px 26px;
}
.links{
    padding: 14px;
    display:flex;
    
}
.strLnk{
    color:white;
}
.strLnk:hover{
    color:white;
}
.btn1:hover{
    color: black;
    background-color: white;
    
}

a:link { text-decoration: none;color:black; }
a:visited { text-decoration: none;color:black; }
